 # Node.js dependencies
node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment files
.env

# Operating system files
.DS_Store

# IDE and editor files
.vscode/
.idea/

# Build output
dist/
build/
